mixin dropdown(options = {})
  -
    let className = 'dropdown__wrapper js-dropdown__wrapper';
    className += options.isOpened ? ' dropdown__wrapper_opened' : '';
    className += options.isGuests ? ' dropdown__wrapper_guests js-dropdown__wrapper_guests' : '';
    className += options.isConveniences ? ' dropdown__wrapper_conveniences js-dropdown__wrapper_conveniences' : '';

  .dropdown.js-dropdown
    if options.title
      h3.dropdown__title=options.title
    div(
        class=className
        data-clicks=options.clicksNum
        data-buttons=options.buttonsNum
      )
      .dropdown__selection-container.js-dropdown__selection-container
        output.dropdown__selection.js-dropdown__selection
        .dropdown__arrow-container
          span.dropdown__arrow
      .dropdown__menu.js-dropdown__menu
        - let i = 0;
          while i < options.items.length
            - i += 1
            .dropdown__option.js-dropdown__option(data-id=`${i}`)
              span.drodown__item
                = options.items[i-1]
          if options.addingButtons
            .dropdown__buttons-container
              button.dropdown__clear-button.js-dropdown__clear-button(type="reset") Очистить
              button.dropdown__apply-button.js-dropdown__apply-button(type="submit") Применить
