include ../../components/header/header
include ../../components/advantage/advantage
include ../../components/reserve-card/reserve-card
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/footer/footer
include ../../components/footer-mobile/footer-mobile
include ../../templates/vars-and-mixins

doctype html
html(lang="en")
  +pageBase({
    title: 'Room details',
    keywords: 'Room details, components, MetaLamp, education',
    description: 'Отель Toxin, подобрать номер',
  })
  body
    .room-details-wrapper
      +header()
      .room-details-background-container
        .room-details-background
          .room-details-background__large-photo-wrapper
            img(
              class="room-details-background__image room-details-background__image_size_l"
              src=require("../../img/room-photo1.jpg")
              alt="Room photo"
            )

          - let i = 1;
          .room-details-background__small-photo-wrapper
            while i < 3
              img(
                class="room-details-background__image"
                src=require(`../../img/room-photo1-${i++}.jpg`)
                alt="Room photo"
              )

      main.room-details-main-container
        .room-details-main-wrapper
          .room-details-advantages-container
            +roomTitle('Сведения о номере')
            .room-details-advantages-wrapper

              each val in advantagesRoom
                .room-details-advantage-wrapper
                  +advantage({
                    title: val[0],
                    description: val[1],
                    image: val[2],
                    isBorder: val[3],
                  })

          .room-details-doughnut-container
            .room-details-doughnut-title-container
              +roomTitle('Впечатления от номера')
            .room-details-doughnut-wrapper.js-room-details-doughnut-wrapper
              canvas.room-details-chart.js-room-details-chart(width="342" height="133")

          section.room-details-comments-container
            .room-details-comments-title-information-wrapper
              .room-details-comments-title-container
                +roomTitle('Отзывы посетителей номера')
              span.room-details-commenst-number-text 2 отзыва

            each val in comments
              article.room-details-comment-wrapper
                +comment({
                  image: val[0],
                  alt: val[1],
                  date: val[2],
                  text: val[3],
                  username: val[4],
                  likeCount: val[5],
                  isLiked: val[6],
                })

          .room-details-rules-and-cancel-wrapper
            article.room-details-bullet-list-container
              .room-details-bullet-list-title-container
                +roomTitle('Правила')
              .room-details-bullet-list-wrapper
                +bullet-list({
                  bulletItems: [
                    'Нельзя с питомцами',
                    'Без вечеринок и мероприятий',
                    'Время прибытия — после 13:00, а выезд до 12:00',
                    ],
                 })

            section.room-details-cancel-information-container
              .room-details-cancel-information-title-container
                +roomTitle('Отмена')
              .room-details-cancel-information-text Бесплатная отмена в течение 48&nbsp;ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

        section.room-details-card-wrapper
          .room-details-room-card-wrapper
            +reserve-card({
              roomNumber: '888',
              price: '9 900',
              totalSum: '38 081',
              dateFrom: '2019, 8, 19',
              dateTo: '2019, 8, 23',
              dropdownButtonsNum: [0, 1],
              dropdownClicksNum: [2, 1],
            })

      +footer()
      +footer-mobile()