extends ~pages-base/page-base
include ~components/advantage/advantage
include ~components/reserve-card/reserve-card
include ~components/comment/comment
include ~components/bullet-list/bullet-list

block vars
  -
    const className = 'room-details';
    const title = 'Room details';
    const keywords = 'Room details, components, MetaLamp, education';
    const description = 'Отель Toxin, подобрать номер';

    let data = require('./data/data.json');

block content
  .room-details__background-container
    .room-details__background
      .room-details__large-photo-wrapper
        img(
          class="room-details__background-image room-details__background-image_size_l"
          src=require('~img/room-photo-1.jpg')
          alt="Room photo"
        )

      - let i = 1;
      .room-details__small-photo-wrapper
        while i < 3
          img(
            class="room-details__background-image"
            src=require(`~img/room-photo-1-${i++}.jpg`)
            alt="Room photo"
          )

  main.room-details__main-container
    .room-details__main-wrapper
      .room-details__advantages-container
        h2.room-details__advantages-title Сведения о номере
        ul.room-details__advantages-wrapper

          each advantageRoom in data.advantagesRoom
            - const { title, description, image, isBorder } = advantageRoom;
            li.room-details__advantage-item
              +advantage({
                title,
                description,
                image,
                isBorder,
              })

      .room-details__doughnut-container
        .room-details__doughnut-title-container
          h2.room-details__doughnut-title Впечатления от номера
        .room-details__doughnut-wrapper.js-room-details__doughnut-wrapper
          canvas.room-details__chart.js-room-details__chart(width="342" height="133")
          .room-details__chart-text-container
            span.room-details__chart-text.js-room-details__chart-text
              input.room-details__chart-text-number.js-room-details__chart-text-number(value="0" type="number" readonly)
              input.room-details__chart-text-items.js-room-details__chart-text-items(value="голосов" readonly)

      section.room-details__comments-container
        .room-details__comments-title-information-wrapper
          .room-details__comments-title-container
            h2.room-details__comments-title Отзывы посетителей номера
          span.room-details__comments-number-text 2 отзыва

        ul.room-details__comments-list
          each comment in data.comments
            -
              const {
                image,
                alt,
                date,
                text,
                username,
                likeCount,
                liked,
               } = comment;
            li.room-details__comment-item
              +comment({
                image,
                alt,
                date,
                text,
                username,
                likeCount,
                liked,
              })

      .room-details__rules-and-cancel-wrapper
        article.room-details__bullet-list-container
          .room-details__bullet-list-title-container
            h2.room-details__bullet-list-title Правила
          .room-details__bullet-list-wrapper
            +bullet-list({
              bulletItems: [
                'Нельзя с питомцами',
                'Без вечеринок и мероприятий',
                'Время прибытия — после 13:00, а выезд до 12:00',
                ],
             })

        section.room-details__cancel-information-container
          .room-details__cancel-information-title-container
            h2.room-details__cancel-information-title Отмена
          .room-details__cancel-information-text Бесплатная отмена в течение 48&nbsp;ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

    section.room-details__card-wrapper
      .room-details__room-card-wrapper
        +reserve-card({
          roomNumber: '888',
          price: '9 900',
          totalSum: '38 081',
          dateFrom: '2023, 8, 19',
          dateTo: '2023, 8, 23',
          dropdownButtonsNum: [0, 1],
          dropdownClicksNum: [2, 1],
        })