mixin advantage-item(options)
  -
    let image = options.image

  .advantage-item(style=`border: ${options.border}`)
    .advantage-item__icon
      img(src=require(`../../img/${options.image}`))
    .advantage-item__text
      .advantage-item__title!=options.title
      .advantage-item__description!=options.description