mixin advantage-item(options)
  -
    if (!options.border) options.border = '1px solid rgba(31, 32, 65, 0.1)';
    if (!options.image) options.image = '';
    if (!options.title) options.title = '';
    if (!options.description) options.description = '';

  .advantage-item(style=`border-bottom: ${options.border}`)
    .advantage-item__icon
      img(src=require(`../../img/${options.image}`) alt="icon")
    .advantage-item__text
      .advantage-item__title!=options.title
      .advantage-item__description!=options.description