mixin advantage-item(options = {})
  -
    let className = 'advantage-item';
    className += options.isBorder ? ' advantage-item_bordered' : '';

  div(class=className)
    .advantage-item__icon
      img(src=require(`../../img/${options.image}`) alt="icon")
    .advantage-item__text
      .advantage-item__title!=options.title
      .advantage-item__description!=options.description