include ../like-button/like-button

mixin comment-block(options)
  - 
    if (!options.image) options.image = '';
    if (!options.username) options.username = '';
    if (!options.date) options.date = '';
    if (!options.likeCount) options.likeCount = 0;
    if (!options.isLiked) options.isLiked = false;
    if (!options.text) options.text = '';
    
  .comments-block
    .comments-block__user 
      img.comments-block__user-photo(
        src=require(`../../img/${options.image}`), 
        alt="User photo"
        )
      .comments-block__user-info
        h3.comments-block__username!=options.username
        .comments-block__date!=options.date
    .comments-block__comment 
      .comments-block__like-button 
        +like-button({
          count: options.likeCount, 
          isLiked: options.isLiked
          })
      .comments-block__comment-text!=options.text