include ../like-button/like-button

mixin comment-block(options = {})
  .comment-block
    .comment-block__user
      img.comment-block__user-photo(
        src=require(`../../img/${options.image}`),
        alt="User photo"
        )
      .comment-block__user-info
        h3.comment-block__username!=options.username
        .comment-block__date!=options.date
    .comment-block__comment
      .comment-block__like-button
        +like-button({
          count: options.likeCount,
          isLiked: options.isLiked
          })
      .comment-block__text!=options.text