mixin button(options = {})
  -
    let className = 'button__base';
    className += options.borderlessButton ? ' button__base_borderless' :
      options.longButton ? ' button__base_long' : '';

    const largeClassName = options.size === 'L' ? ' button__base_size_l' : '';
    const hoveredClassName = options.isHovered ? ' button__base_hovered' : '';

    className += largeClassName + hoveredClassName;

  .button
    if options.borderlessButton
      button(
        class=className
        type='button'
        )
        span.button__text=options.text

    else if options.longButton
      div(class=className)
        button(
          class='button__item'
          type=options.type
          )
          span.button__text-container
            span.button__text=options.text
          span.button__arrow

