mixin button(options = {})
  -
    let className = 'button';
    className += options.filledButton ? ' button_filled' :
      options.emptyButton ? ' button_empty' :
      options.textButton ? ' button_simple' :
      options.longButton ? ' button_long' :
      options.longLinkButton ? ' button_long_link' : '';

    className += options.isMobile ? ' button_mobile' : '';

    const largeClassName = options.size === 'L' ? ' button_size_l' : '';
    const hoveredClassName = options.isHovered ? ' button_hovered' : '';

    className += largeClassName + hoveredClassName;

  if options.filledButton || options.emptyButton
    a(
      class=className,
      href=options.href
      )
      if options.filledButton
        span.button__text_filled=options.text
      else
        span.button__background_empty=options.text

  else if options.textButton
    button(
      class=className
      type='button'
      )
      span.button__text_simple=options.text

  else if options.longButton || options.longLinkButton
    div(class=className)
      if options.longButton
        button(
          class='button__button_long'
          type=options.type
          )=options.text
        span.button__arrow
      else
        a(
          class='button__link'
          href=options.href
          )=options.text
        span.button__arrow

