mixin button(options)
  -
    if(!options.href)
      options.href = '/mock-address/change-me';

    let className = ''
    className += options.filledButton ? 'filled-button' : ''
    className += options.emptyButton ? 'empty-button__button' : ''
    className += options.hiddenBorderButton ? 'hidden-border-button' : ''
    className += options.longButton ? 'long-button__button' : ''
    className += options.longLinkButton ? 'long-link-button__button' : ''
    className += options.isDisabled ? ' button_disabled' : ''



  if options.emptyButton 
    .empty-button(style=options.style)
      a(
        class=className 
        style=options.style 
        href=options.href
        )
      div(class="empty-button__background")!=options.text
  else if options.longButton
    .long-button
      button(
        class=className 
        style=options.style 
        type=options.type 
        disabled=options.disabled
        )!=options.text
      img(class="long-button__arrow" src=require("../../img/long_button_arrow.svg") alt="arrow")
  else if options.longLinkButton
    .long-link-button
      a(
        class=className 
        style=options.style
        href=options.href
        )!=options.text
      img(class="long-button__arrow" src=require("../../img/long_button_arrow.svg") alt="arrow")
  else if options.filledButton
    a(
      class=className 
      style=options.style
      href=options.href
      )
      span.filled-button__text!=options.text
  else if options.hiddenBorderButton 
    button(
      class=className
      style=options.style
      )
      span.filled-button__text!=options.text

    