mixin button(options = {})
  -
    let className = '';
    className += options.filledButton ? 'filled-button' :
      options.emptyButton ? 'empty-button' :
      options.textButton ? 'text-button' :
      options.longButton ? 'long-button' :
      options.longLinkButton ? 'long-link-button' : '';

    const largeClassName = options.size === 'L' ? ' ' + className + '_size_l' : '';
    const hoveredClassName = options.isHovered ? ' ' + className + '_hovered' : '';

    className += largeClassName + hoveredClassName;

  if options.filledButton || options.emptyButton
    a(
      class=className,
      href=options.href
      )
      if options.filledButton
        span.filled-button__text=options.text
      else
        span.empty-button__background=options.text

  else if options.textButton
    button(
      class=className
      type='button'
      )
      span.text-button__text=options.text

  else if options.longButton || options.longLinkButton
    div(class=className)
      if options.longButton
        button(
          class='long-button__button'
          type=options.type
          )=options.text
        span.long-button__arrow
      else
        a(
          class='long-link-button__link'
          href=options.href
          )=options.text
        span.long-link-button__arrow

