include ../components/logo/logo
include ../components/button/button
include ../components/subscription-text-field/subscription-text-field
include ../components/social-icons/social-icons
include ../components/date-dropdown/date-dropdown
include ../components/dropdown/dropdown
include ../components/text-field/text-field
include ../components/radio-buttons/radio-buttons
include ../components/masked-text-field/masked-text-field
include ../components/toggle-button/toggle-button
include ../components/rate-button/rate-button

mixin header(options)
  -
    if (!options)
      options = {};

    let boldItemClass = 'header__list-bold-item'

    boldItemClass += options.isBoldItem ? '' : ' header__list-bold-item_font_normal'
  
  header.header.js-header
    .header__wrapper
      +logo({isColorful: true})  
      .header__burger-container.js-header__burger-container
        .header__burger.js-header__burger
      .header__right-block-container
        nav.header__nav
          ul.header__menu-list 
            li.header__list-item 
              a.header__list-link.js-header__list-link(
                href="/mock-address/change-me" 
                ) 
                span(class=boldItemClass) О нас

            li.header__list-item.header__list-item_expandable.js-header__list-item_expandable  
              a.header__list-link.js-header__list-link(
                href="/mock-address/change-me" 
                ) 
                span.header__list-link-text Услуги
                img(
                  class="header__list-arrow js-header__list-arrow" 
                  src=require("../img/expand-arrow.svg") 
                  alt="Expand arrow"
                  )

              .header__expanded-menu.js-header__expanded-menu  
                ul.header__expanded-menu-list
                  each val in ['Ресторан', 'Бассейн', 'Транспорт']
                    li.header__expanded-menu-item 
                      a.header__expanded-menu-link(
                        href="/mock-address/change-me" 
                        )!=val

            each val in ['Вакансии', 'Новости']  
              li.header__list-item  
                a.header__list-link.js-header__list-link(
                  href="/mock-address/change-me" 
                  )!=val

            li.header__list-item.header__list-item_expandable.js-header__list-item_expandable
              a.header__list-link.js-header__list-link(
                href="/mock-address/change-me" 
                ) 
                span.header__list-link-text Соглашения
                img(
                  class="header__list-arrow js-header__list-arrow" 
                  src=require("../img/expand-arrow.svg") 
                  alt="Expand arrow"
                  )
              .header__expanded-menu.js-header__expanded-menu 
                ul.header__expanded-menu-list
                  each val in ['Договор по оказанию услуг', 'Договор хранения']  
                    li.header__expanded-menu-item 
                      a.header__expanded-menu-link(
                        href="/mock-address/change-me" 
                        )!=val

        if (options.isLoggedIn)
          span.header__user-name!=options.userName 
        else 
          .header__buttons-container
            +button({
              emptyButton: true, 
              text: 'Войти', 
              style: {'height': '34px', 'width': '87px'},
              href: 'registration-and-sign-in.html?page=entry'
              })
            +button({
              filledButton: true, 
              text: 'Зарегистрироваться', 
              style: {'height': '34px', width: '196px'},
              href: 'registration-and-sign-in.html'
              })
  .mobile-menu.js-mobile-menu
    .mobile-menu__buttons-container
      .mobile-menu__button-container
        +button({
          emptyButton: true, 
          text: 'Войти', 
          style: {'height': '50px', 'width': '200px'},
          href: 'registration-and-sign-in.html?page=entry'
          })
      .mobile-menu__button-container
        +button({
          filledButton: true, 
          text: 'Зарегистрироваться', 
          style: {'height': '50px', 'width': '200px'},
          href: 'registration-and-sign-in.html'
          })
    nav.mobile-menu__nav
      ul.mobile-menu__list
        li.mobile-menu__list-item 
          a.mobile-menu__list-link.js-mobile-menu__list-link(
            href="/mock-address/change-me" 
            ) 
            span.mobile-menu__list-bold-item О нас
        li.mobile-menu__list-item
          a.mobile-menu__list-link.js-mobile-menu__list-link_expandable(
            href="/mock-address/change-me" 
            ) 
            span.mobile-menu__list-bold-item Услуги
            img(
                class="mobile-menu__list-arrow js-mobile-menu__list-arrow" 
                src=require("../img/expand-arrow.svg") 
                alt="Expand arrow"
                )
          ul.mobile-menu__expanded-list.js-mobile-menu__expanded-list  
            each val in ['Ресторан', 'Бассейн', 'Транспорт']  
              li.mobile-menu__expanded-list-item 
                a.mobile-menu__expanded-list-link.js-mobile-menu__list-link(
                  href="/mock-address/change-me" 
                  )!=val

        each val in ['Вакансии', 'Новости', 'Транспорт']  
          li.mobile-menu__list-item 
            a.mobile-menu__list-link.js-mobile-menu__list-link(
              href="/mock-address/change-me" 
              )
              span.mobile-menu__list-bold-item!=val

        li.mobile-menu__list-item
          a.mobile-menu__list-link.js-mobile-menu__list-link_expandable(
            href="/mock-address/change-me" 
            ) 
            span.mobile-menu__list-bold-item Соглашения
            img(
                class="mobile-menu__list-arrow js-mobile-menu__list-arrow" 
                src=require("../img/expand-arrow.svg") 
                alt="Expand arrow"
                )
          ul.mobile-menu__expanded-list.js-mobile-menu__expanded-list  
            each val in ['Договор по оказанию услуг', 'Договор хранения']  
              li.mobile-menu__expanded-list-item 
                a.mobile-menu__expanded-list-link.js-mobile-menu__list-link(
                  href="/mock-address/change-me" 
                  )!=val

  .scrim

mixin footer()
  footer.footer-block
    .footer-block__top-section-container
      .footer-block__top-section-wrapper
        .footer-block__first-section 
          +logo({isColorful: true})
          .footer-block__first-section-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-block__items-section
          .footer-block__second-section 
            ul.footer-block__list
              li.footer-block__list-item 
                h3.footer-block__title Навигация
              each val in ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
                li.footer-block__list-item
                  a.footer-block__link(
                    href="/mock-address/change-me"
                  )=val
          .footer-block__third-section 
            ul.footer-block__list
              li.footer-block__list-item  
                h3.footer-block__title О нас
              each val in ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
                li.footer-block__list-item
                  a.footer-block__link(
                    href="/mock-address/change-me"
                  )=val
          .footer-block__fourth-section
            ul.footer-block__list
              li.footer-block__list-item  
                h3.footer-block__title Служба поддержки
              each val in ['Соглашения', 'Сообщества', 'Связь с нами']
                li.footer-block__list-item
                  a.footer-block__link(
                    href="/mock-address/change-me"
                  )=val
        .footer-block__fifth-section
          h3.footer-block__subscription-title Подписка
          form.footer-block__subscription-form
            .footer-block__subscription-text Получайте специальные предложения и новости сервиса
            +subscription-text-field({style: {'width': '260px'}})
    .footer-block__bottom-section-wrapper
      .footer-block__copyright-text Copyright &#169; 2018 Toxin отель. Все права защищены.
      .footer-block__social-icons-container 
        +social-icons()

mixin footer-mobile(options)
  -
    if (!options)
      options = {};

    let className = 'footer-mobile'
    className += options.isVisible ? ' footer-mobile_visible' : ''

  div(class=className)
    +logo({isColorful: true})
    .footer-mobile__text Copyright &#169; 2018 Toxin отель. Все права защищены.
    .footer-mobile__icons-container 
      +social-icons()

mixin room-search-card()
  .room-search-block
    h1.room-search-block__title Найдём номера под ваши пожелания
    form.room-serch-block__form
      .room-search-block__wrapper 
        .room-search-block__date-dropdown-container
          +date-dropdown({title: ['Прибытие', 'Выезд']})       
        .room-search-block__guests-dropdown-container 
          +dropdown({
            items: ['Взрослые', 'Дети', 'Младенцы'], 
            addingButtons: true, 
            isGuests: true, 
            title: 'Гости'
            })
        .room-search-block__long-button-container
          +button({
            longLinkButton: true, 
            text: 'Подобрать номер', 
            href: 'search-room.html'
            })

mixin registration-card(options)
  -
    if (!options)
      options = {};
  .registration-block.js-registration-block
    h1.registration-block__title Регистрация аккаунта
    .registration-block__wrapper 
      form.registration-block__form
        .registration-block__username-inputs-container
          .registration-block__username-input-container 
            +text-field({
              placeholder: 'Имя', 
              type: 'text', 
              style: {'width': '100%'}
              })
          .registration-block__username-input-container 
            +text-field({
              placeholder: 'Фамилия', 
              type: 'text', 
              style: {'width': '100%'}
              })
        .registration-block__radio-buttons-container
          +radio-buttons({radio_names: ['Мужчина', 'Женщина']})
        .registration-block__date-input-container   
          +masked-text-field({
            input_type: 'text', 
            placeholder: 'ДД.ММ.ГГГГ',
            title: 'Дата рождения',
            style: {'width': '100%'}
            })
        .registration-block__enter-data-container   
          .registration-block__date-title Данные для входа в сервис
          .registration-block__entry-data-inputs-container
            .registration-block__entry-data-input-container
              +text-field({
                placeholder: 'Email', 
                type: 'email', 
                style: {'width': '100%'}
                })
            .registration-block__entry-data-input-container
              +text-field({
                placeholder: 'Пароль', 
                type: 'text', 
                style: {'width': '100%'}
                })
        .registration-block__toggle-button-container  
          +toggle-button({text: 'Получать спецпредложения'})
        .registration-block__long-button-container 
          +button({
            longButton: true, 
            text: options.buttonText, 
            type: 'submit'
            })
        .registration-block__login-container
          .registration-block__login-text Уже есть аккаунт на Toxin 
          +button({
            emptyButton: true, 
            text: 'Войти', 
            href: 'registration-and-sign-in.html?page=entry'
            })

mixin reserve-room-card(options)
  -
    if (!options)
      options = {};

  .reserve-room-block
    .reserve-room-block__wrapper
      form.reserve-room-block__form
        .reserve-room-block__number-and-price-container   
          h1.reserve-room-block__number-symbol № 
            span.reserve-room-block__room-number 888
            span.reserve-room-block__lux-mark 
              +button({
              hiddenBorderButton: true, 
              text: 'Люкс'
              })
          span.reserve-room-block__room-price 9 990
            span.reserve-room-block__room-price__currency &#8381;
            span.reserve-room-block__time-interval в сутки
        .reserve-room-block__date-dropdown-container
          +date-dropdown({
            title: ['Прибытие', 'Выезд'],
            dateFrom: options.dateFrom,
            dateTo: options.dateTo
            })
        .reserve-room-block__guests-dropdown-container 
          +dropdown({
            items: ['Взрослые', 'Дети', 'Младенцы'], 
            addingButtons: true, 
            isGuests: true, 
            isClicked: true, 
            title: 'Гости',
            buttonsNum: options.dropdownButtonsNum,
            clicksNum: options.dropdownClicksNum       
            })
        .reserve-room-block__price-block 
          .reserve-room-block__sum  
            .reserve-room-block__sum-description 
              span.reserve-room-block__sum-text 9 990&#8381; x 4 суток
            span.reserve-room-block__service-sum 39 960&#8381;
          .reserve-room-block__sum  
            .reserve-room-block__sum-description 
              span.reserve-room-block__sum-text Сбор за услуги: скидка 2 179&#8381;
              .reserve-room-block__information-icon-container
                .reserve-room-block__information-icon i
            span.reserve-room-block__service-sum 0&#8381;
          .reserve-room-block__sum  
            .reserve-room-block__sum-description 
              span.reserve-room-block__sum-text Сбор за дополнительные услуги
              .reserve-room-block__information-icon-container
                .reserve-room-block__information-icon i
            span.reserve-room-block__service-sum 300&#8381;
        .reserve-room-block__total-sum-block  
          span.reserve-room-block__total-text Итого
          span.reserve-room-block__dotted-border 
          span.reserve-room-block__total-sum 38 081&#8381;
        .reserve-room-block__button-container
          +button({
            longButton: true, 
            text: 'Забронировать', 
            type: 'submit'
            })

mixin entry-card()
  .entry-block.js-entry-block
    h1.entry-block__title Войти
    .entry-block__wrapper 
      form.entry-block__form
        .entry-block__data-inputs-container
          .entry-block__data-input-container
            +text-field({placeholder: 'Email'})
          .entry-block__data-input-container
            +text-field({placeholder: 'Пароль'})
        .entry-block__button-container 
          +button({
            longButton: true, 
            text: 'Войти', 
            type: 'submit'
            })
        .entry-block__login-container
          .entry-block__login-text Нет аккаунта на Toxin? 
          +button({
            emptyButton: true, 
            text: 'Создать', 
            href: 'registration-and-sign-in.html'
            })

mixin room-card(options) 
  -
    if (!options)
      options = {};
      
    let className = options.isSlickArrays ? 'room-short-information-block__slider_width-arrays js-room-short-information-block__slider_width-arrays' : 'room-short-information-block__slider js-room-short-information-block__slider'
  .room-short-information-block.js-room-short-information-block
    .room-short-information-block__image-container
      div(class=className)
        each val in options.photos
          img.room-short-information-block__image(src=require(`../img/${val}`) alt="Room photo")
    .room-short-information-block__information
      .room-short-information-block__room-number-container  
        span.room-short-information-block__number-symbol № 
        span.room-short-information-block__room-number!=options.number
        if options.isLux
          .room-short-information-block__lux-mark
            +button({
              hiddenBorderButton: true, 
              text: 'Люкс'
              })
      .room-short-information-block__room-price-container  
        span.room-short-information-block__room-price!=options.price
          span.room-short-information-block__currency &#8381;
          span.room-short-information-block__time-interval в сутки
    .room-short-information-block__rate-block 
      +rate-button({
        starsNumber: options.starsNumber, 
        checkedButton: options.checkedButton,
        name: `${Math.random()}`
        }) 
      .room-short-information-block__reviews-number!=options.reviewsNumber
        span.room-short-information-block__reviews-number-text  Отзывов 