mixin pageBase(options = {})
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content=options.keywords)
    meta(name="description" content=options.description)
    title=options.title

mixin roomTitle(text)
  h2.room-details-title=text

-
  const pages = [
    ['colors-and-type.html', 'Colors and Type'],
    ['form-elements.html', 'Form Elements'],
    ['cards.html', 'Cards'],
    ['headers-and-footers.html', 'Headers and Footers'],
  ];

  const headerItems = [
    ['О нас', [], '/mock-address/change-me', 'bold'],
    ['Услуги', ['Ресторан', 'Бассейн', 'Транспорт'], '/mock-address/change-me'],
    ['Вакансии', [], '/mock-address/change-me'],
    ['Новости', [], '/mock-address/change-me'],
    ['Соглашения', ['Договор по оказанию услуг', 'Договор хранения'], '/mock-address/change-me'],
    ];

  const headerButtons = [
    {
      unfilledButton: true,
      text: 'Войти',
      href: 'sign-in.html',
    },
    {
      filledButton: true,
      text: 'Зарегистрироваться',
      size: 'L',
      href: 'registration.html',
    }
  ];

  const footerSections = [
    {
      className: 'footer__second-section',
      title: 'Навигация',
      items: ['О нас', 'Новости', 'Служба поддержки', 'Услуги'],
      link: '/mock-address/change-me'
    },
    {
      className: 'footer__third-section',
      title: 'О нас',
      items: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'],
      link: '/mock-address/change-me'
    },
    {
      className: 'footer__fourth-section',
      title: 'Служба поддержки',
      items: ['Соглашения', 'Сообщества', 'Связь с нами'],
      link: '/mock-address/change-me'
    },
  ];

  const textFields = [
    {
      className: 'form-elements__first-text-field',
      title: 'Text field',
      status: 'Default',
      type: 'email',
      placeholder: 'Email',
    },
    {
      className: 'form-elements__second-text-field',
      title: 'Text field',
      status: 'Hover / Focus',
      type: 'email',
      placeholder: 'Email',
      value: 'This is pretty awesome',
      isFocused: true,
    },
  ];

  const checkboxLists = [
    {
      className: 'form-elements__checkbox-list-container',
      title: 'Expandable checkbox list',
      checkboxTexts: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'],
      isExpandable: true,
    },
    {
      className: 'form-elements__opened-checkbox-list-container',
      title: 'Expandable checkbox list',
      checkboxTexts: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'],
      checkedItems: [1, 2, 3],
      isExpandable: true,
      isOpened: true,
    },
  ];

  const checkboxes = {
    title: 'Checkbox buttons',
    checkboxTexts: [
      'Можно курить',
      'Можно с питомцами',
      `Можно пригласить гостей (до${String.fromCharCode(160)}10${String.fromCharCode(160)}человек)`,
    ],
    checkedItems: [1, 2],
    isExpandable: false,
  };

  const toggleButtons = [
    ['Получать спецпредложения', true],
    ['Получать спецпредложения', false],
  ];

  const likeButtons = [
    [2, false],
    [12, true],
  ];

  const rateButtons = [
    {
      starsNumber: 5,
      checkedButton: 4,
      name: 'First rate'
    },
    {
      starsNumber: 5,
      checkedButton: 5,
      name: 'Second rate'
    },
  ];

  const richCheckboxButtons = [
    {
      title: 'Rich checkbox buttons',
      checkboxTexts: [
        `Ширина коридоров в номере не${String.fromCharCode(160)}менее 91 см.`,
        `На 1 этаже вас встретит специалист и${String.fromCharCode(160)}проводит до номера.`,
      ],
      richTitles: [
        'Широкий коридор',
        'Помощник для инвалидов',
      ],
      isExpandable: false,
      isRich: true,
    },
  ];

  const formElementsButtons = [
    {
      className: 'form-elements__filled-buttons-container',
      buttons: [
        {
          filledButton: true,
          text: 'Click me',
        },
        {
          filledButton: true,
          text: 'Click me',
          isHovered: true,
        }
      ],
    },
    {
      className: 'form-elements__empty-buttons-container',
      buttons: [
        {
          unfilledButton: true,
          size: 'L',
          text: 'Click me',
        },
        {
          unfilledButton: true,
          size: 'L',
          text: 'Click me',
          isHovered: true,
        }
      ],
    },
    {
      className: 'form-elements__text-buttons-container',
      buttons: [
        {
          unborderedButton: true,
          text: 'Click me',
        },
        {
          unborderedButton: true,
          text: 'Click me',
          isHovered: true,
        }
      ],
    },
    {
      className: 'form-elements__long-button-container',
      buttons: [
        {
          longButton: true,
          text: 'Перейти к оплате',
        }
      ],
    },
  ];

  const advantages = [
    {
      title: 'Комфорт',
      description: 'Шумопоглощающие стены',
      image: 'insert-emoticon.svg',
      isBorder: true,
    },
    {
      title: 'Удобство',
      description: 'Окно в каждой из спален',
      image: 'location-city.svg',
      isBorder: true,
    }
  ];

  const colors = [
    ['Dark Shade 100%', '#1F2041'],
    ['Dark Shade 75%', '#1F2041'],
    ['Dark Shade 50%', '#1F2041'],
    ['Dark Shade 25%', '#1F2041'],
    ['Dark Shade 5%', '#1F2041'],
    ['Purple', '#BC9CFF'],
    ['Green', '#6FCF97'],
  ];

  const types = [
    ['H1', 'This one is the sub-section or widget title'],
    ['H2', 'Next one is the item title inside widgets'],
    ['H3', 'This is a label or CTA text'],
    ['Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'],
  ];

  const comments = [
    [
      'image.jpg',
      'user photo',
      '5 дней назад',
      'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
      'Мурад Сарафанов',
      12,
      true,
    ],
    [
      'image2.jpg',
      'user photo',
      'Неделю назад',
      'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
      'Патрисия Стёклышкова',
      2,
      false,
    ]
  ];

  const advantagesRoom = [
    ['Комфорт', 'Шумопоглощающие стены', 'insert-emoticon.svg', true],
    ['Удобство', 'Окно в каждой из спален', 'location-city.svg', true],
    ['Уют', 'Номер оснащён камином', 'whatshot.svg', false],
  ];

  const roomCards = [
    {
      photos: ['room-photo1.jpg', 'room-photo1.jpg', 'room-photo1.jpg', 'room-photo1.jpg'],
      number: '888',
      price: '9 990',
      starsNumber: 5,
      checkedButton: 5,
      reviewsNumber: 145,
      isLux: true,
    },
    {
      photos: ['room-photo2.jpg', 'room-photo2.jpg', 'room-photo2.jpg', 'room-photo2.jpg'],
      number: '840',
      price: '9 990',
      starsNumber: 5,
      checkedButton: 4,
      reviewsNumber: 65,
      isLux: false,
    }
  ];

  const amountsForServices = [
    ['9 990₽ x 4 суток', '39 960'],
    ['Сбор за услуги: скидка 2 179₽', '0', 'info'],
    ['Сбор за дополнительные услуги', '300', 'info'],
  ];

  const searchRoomRichCheckboxButtons = [
    {
      title: 'Доступность',
      checkboxTexts: [
        `Ширина коридоров в номере не${String.fromCharCode(160)}менее 91 см.`,
        `На 1 этаже вас встретит специалист и${String.fromCharCode(160)}проводит до номера.`,
      ],
      richTitles: [
        'Широкий коридор',
        'Помощник для инвалидов',
      ],
      isExpandable: false,
      isRich: true,
    },
  ];

  let roomsCardsProperties = [
    ['room-photo1.jpg', '888', '9 990', 5, 5, 145, true, true],
    ['room-photo2.jpg', '840', '9 990', 5, 4, 65, false, false],
    ['room-photo3.jpg', '980', '8 500', 5, 3, 35, true, false],
    ['room-photo4.jpg', '856', '7 300', 5, 5, 19, false, false],
    ['room-photo5.jpg', '740', '6 000', 5, 4, 44, false, false],
    ['room-photo6.jpg', '982', '5 800', 5, 3, 56, false, false],
    ['room-photo7.jpg', '678', '5 500', 5, 5, 45, false, false],
    ['room-photo8.jpg', '450', '5 300', 5, 4, 39, false, false],
    ['room-photo9.jpg', '350', '5 000', 5, 3, 77, false, false],
    ['room-photo10.jpg', '666', '5 000', 5, 5, 25, false, false],
    ['room-photo11.jpg', '444', '5 000', 5, 3, 15, false, false],
    ['room-photo12.jpg', '352', '5 000', 5, 3, 55, false, false],
  ];

  for (let i = 0; i < 160; i += 1) {
    roomsCardsProperties.push(['room-photo1.jpg', '888', '9 990', 5, 5, 145, true, false])
  };
