include ~components/date-dropdown/date-dropdown
include ~components/dropdown/dropdown
include ~components/button/button

mixin reserve-card(options = {})
  .reserve-card
    .reserve-card__wrapper
      form.reserve-card__form
        .reserve-card__number-and-price-container
          h1.reserve-card__number-symbol №
            span.reserve-card__room-number=' ' + options.roomNumber
            span.reserve-card__lux-mark
              +button({
                borderlessButton: true,
                text: 'Люкс',
              })
          span.reserve-card__price=options.price
            span.reserve-card__currency &#8381;
            span.reserve-card__time-interval=' ' + 'в сутки'
        .reserve-card__date-dropdown-container
          +date-dropdown({
            title: ['Прибытие', 'Выезд'],
            dateFrom: options.dateFrom,
            dateTo: options.dateTo,
          })
        .reserve-card__guests-dropdown-container
          +dropdown({
            items: ['Взрослые', 'Дети', 'Младенцы'],
            addingButtons: true,
            isGuests: true,
            isClicked: true,
            title: 'Гости',
            buttonsNum: options.dropdownButtonsNum,
            clicksNum: options.dropdownClicksNum,
          })
        .reserve-card__price-block
          each amountForService in data.amountsForServices
            - const [ service, amount, info ] = amountForService;
            .reserve-card__sum
              .reserve-card__sum-description
                span.reserve-card__sum-text=service
                if info
                  .reserve-card__information-icon-container
                    .reserve-card__information-tooltip Подробнее в разделе:
                      a.reserve-card__information-tooltip-link(
                        href='/mock-address/change-me'
                        target='_blank'
                      )  Договор&nbsp;по&nbsp;оказанию&nbsp;услуг
              span.reserve-card__service-sum=amount
                span.reserve-card__currency &#8381;

        .reserve-card__total-sum-block
          span.reserve-card__total-text Итого
          span.reserve-card__dotted-border
          span.reserve-card__total-sum=' ' + options.totalSum
            span.reserve-card__currency &#8381;
        .reserve-card__button-container
          +button({
            longButton: true,
            text: 'Забронировать',
            type: 'submit',
          })