include ../../templates/vars-and-mixins

doctype html
html(lang="ru")
  +pageBase({
    title: 'MetaLamp layout',
    keywords: 'MetaLamp layout, components, MetaLamp, education',
    description: 'Отель Toxin, подобрать номер',
  })
  body
    .metalamp-layout-container
      .metalamp-layout-wrapper
        .metalamp-layout-ui-kit-container
          h2.metalamp-layout-ui-kit-title UI Kit
          ul.metalamp-layout-ui-kit-list
            each page in pages
              - const [ href, name ] = page;
              li.metalamp-layout-ui-kit-item
                a.metalamp-layout-ui-kit-link(
                  href=href
                  target="_blank"
                  rel="noopener noreferrer"
                )=name

        .metalamp-layout-website-pages-container
          a.metalamp-layout-website-pages-link(
            href="landing-page.html"
            target="_blank"
            rel="noopener noreferrer"
          )
            h2.metalamp-layout-website-pages-title Website Pages