include ../logo/logo
include ../button/button

mixin header(options = {})
  -
    let boldItemClass = 'header__list-bold-item';
    boldItemClass += options.isBoldItem ? '' : ' header__list-bold-item_font_normal';

  .header.js-header
    header.header__container.js-header__container
      .header__wrapper
        +logo({
          isColorful: true,
          href: 'landing-page.html',
        })
        .header__burger-container.js-header__burger-container
          .header__burger.js-header__burger
        .header__right-block-container
          nav.header__nav
            ul.header__menu-list
              each headerItem in headerItems
                - const [ title, items, link, fontWeight ] = headerItem;
                if items.length
                  li.header__list-item.header__list-item_expandable.js-header__list-item_expandable
                    a.header__list-link.js-header__list-link(
                      href=link
                    )
                      span.header__list-link-text=title
                      span.header__list-arrow.js-header__list-arrow

                    .header__expanded-menu.js-header__expanded-menu
                      ul.header__expanded-menu-list
                        each item in items
                          li.header__expanded-menu-item
                            a.header__expanded-menu-link(
                              href=link
                            )=item
                else
                  li.header__list-item
                    a.header__list-link.js-header__list-link(
                      href=link
                    )
                      if fontWeight
                        span(class=boldItemClass)=title
                      else
                        span.header__list-link-text=title

          if (options.isLoggedIn)
            span.header__user-name=options.username
          else
            .header__buttons-container
              each button in headerButtons
                - const { emptyButton, filledButton, text, size, href } = button;
                +button({
                  emptyButton,
                  filledButton,
                  text,
                  size,
                  href,
                })

    .mobile-menu.js-mobile-menu
      .mobile-menu__buttons-container
        each button in headerButtons
          -
            let { emptyButton, filledButton, text, size, href, isMobile } = button;
            if (emptyButton && !isMobile) isMobile = true;

          .mobile-menu__button-container
            +button({
              emptyButton,
              filledButton,
              isMobile,
              text,
              size,
              href,
            })
      nav.mobile-menu__nav
        ul.mobile-menu__list
          each headerItem in headerItems
            - const [ title, items, link ] = headerItem;
            if items.length
              li.mobile-menu__list-item
                a.mobile-menu__list-link.js-mobile-menu__list-link_expandable(
                  href=link
                )
                  span.mobile-menu__list-bold-item=title
                  span.mobile-menu__list-arrow.js-mobile-menu__list-arrow
                ul.mobile-menu__expanded-list.js-mobile-menu__expanded-list
                  each item in items
                    li.mobile-menu__expanded-list-item
                      a.mobile-menu__expanded-list-link.js-mobile-menu__list-link(
                        href=link
                      )=item
            else
              li.mobile-menu__list-item
                a.mobile-menu__list-link.js-mobile-menu__list-link(
                  href=link
                )
                  span.mobile-menu__list-bold-item=title

    .scrim