include ../logo/logo
include ../button/button

mixin header(options = {})
  .header.js-header
    header.header__container.js-header__container
      .header__wrapper
        +logo({
          isColorful: true,
          href: 'landing-page.html',
        })
        .header__burger-container.js-header__burger-container
          .header__burger.js-header__burger
        .header__right-block-container
          nav.header__nav
            ul.header__menu-list
              each headerItem in headerItems
                - const [ title, items, link, fontWeight ] = headerItem;
                if items.length
                  li.header__list-item.header__list-item_expandable.js-header__list-item_expandable
                    a.header__list-link.js-header__list-link.js-header__list-link_expandable(
                      href=link
                    )
                      span.header__list-link-text=title
                      span.header__list-arrow.js-header__list-arrow

                    .header__expanded-menu.js-header__expanded-menu
                      ul.header__expanded-menu-list
                        each item in items
                          li.header__expanded-menu-item
                            a.header__expanded-menu-link(
                              href=link
                            )=item
                else
                  li.header__list-item
                    a.header__list-link.js-header__list-link(
                      href=link
                    )
                      span.header__list-link-text=title

          if (options.isLoggedIn)
            span.header__user-name=options.username
          else
            .header__buttons-container
              each button in headerButtons
                - const { unfilledButton, filledButton, text, size, href } = button;
                +button({
                  unfilledButton,
                  filledButton,
                  text,
                  size,
                  href,
                })

    .header__mobile-menu.js-header__mobile-menu
      .header__mobile-buttons-container
        each button in headerButtons
          -
            let { unfilledButton, filledButton, text, size, href, isMobile } = button;
            if (unfilledButton && !isMobile) isMobile = true;

          .header__mobile-button-container
            +button({
              unfilledButton,
              filledButton,
              isMobile,
              text,
              size,
              href,
            })
      nav.header__mobile-nav
        ul.header__mobile-list
          each headerItem in headerItems
            - const [ title, items, link ] = headerItem;
            if items.length
              li.header__mobile-list-item.header__mobile-list-item_expandable.js-header__mobile-list-item.js-header__mobile-list-item_expandable
                a.header__mobile-list-link.header__mobile-list-link_expandable.js-header__mobile-list-link_expandable(
                  href=link
                )
                  span.header__mobile-list-bold-item=title
                  span.header__mobile-list-arrow.js-header__mobile-list-arrow
                ul.header__mobile-expanded-list.js-header__mobile-expanded-list
                  each item in items
                    li.header__mobile-expanded-list-item
                      a.header__mobile-expanded-list-link.js-header__mobile-list-link(
                        href=link
                      )=item
            else
              li.header__mobile-list-item
                a.header__mobile-list-link.js-header__mobile-list-link(
                  href=link
                )
                  span.header__mobile-list-bold-item=title

    .header__scrim