mixin filter-date-dropdown(options = {})
  -
    let className = 'filter-date-dropdown__input js-filter-date-dropdown__input'

    className += options.isOpened ? ' js-filter-date-dropdown__input_opened' : ''

  .filter-date-dropdown.js-filter-date-dropdown
    h3.filter-date-dropdown__title!=options.title
    .filter-date-dropdown__input-container(style=options.style)
      img(src=require("../../img/expand-arrow.svg") class="filter-date-dropdown__arrow" alt="Arrow")
      input(
        class=className 
        type="text" 
        data-multiple-dates-separator=" - " 
        placeholder="Выберите даты"
        data-from=options.dateFrom
        data-to=options.dateTo
        )