mixin filter-date-dropdown(options = {})
  -
    let className = 'filter-date-dropdown__input js-filter-date-dropdown__input';
    className += options.isOpened ? ' js-filter-date-dropdown__input_opened' : '';

    let inputContainerClassName = 'filter-date-dropdown__input-container';
    inputContainerClassName += options.isHidden ? ' filter-date-dropdown__input-container_hidden' : '';

  .filter-date-dropdown.js-filter-date-dropdown
    if options.title
      h3.filter-date-dropdown__title=options.title
    div(class=inputContainerClassName)
      .filter-date-dropdown__arrow
      input(
        class=className
        type="text"
        data-multiple-dates-separator=" - "
        placeholder="Выберите даты"
        data-from=options.dateFrom
        data-to=options.dateTo
        readonly
      )