include ~components/button/button
include ~components/rate-button/rate-button

mixin room-card(options = {})
  -
    const price = options.price.toLocaleString();

  .room-card.js-room-card
    .room-card__image-container
      .room-card__slider.js-room-card__slider
        each photo in options.photos
          img.room-card__image(src=require(`~img/${photo}`) alt="Room photo")
    .room-card__information
      .room-card__room-number-container
        span.room-card__number-symbol
        span.room-card__room-number=' ' + options.number
        if options.isLux
          .room-card__lux-mark
            +button({
              borderlessButton: true,
              text: 'Люкс',
            })
      .room-card__price-container
        span.room-card__price=price
          span.room-card__currency &#8381;
          span.room-card__time-interval  в сутки
    .room-card__rate
      +rate-button({
        starsNumber: options.starsNumber,
        checkedButton: options.checkedButton,
        name: `${Math.random()}`,
      })
      .room-card__reviews-number!=options.reviewsNumber
        span.room-card__reviews-number-text  Отзывов