include ../button/button
include ../rate-button/rate-button

mixin room-card(options) 
  -
    if (!options)
      options = {};
      
    let className = options.isSlickArrays ? 'room-short-information-block__slider_width-arrays js-room-short-information-block__slider_width-arrays' : 'room-short-information-block__slider js-room-short-information-block__slider'
  .room-short-information-block.js-room-short-information-block
    .room-short-information-block__image-container
      div(class=className)
        each val in options.photos
          img.room-short-information-block__image(src=require(`../../img/${val}`) alt="Room photo")
    .room-short-information-block__information
      .room-short-information-block__room-number-container  
        span.room-short-information-block__number-symbol № 
        span.room-short-information-block__room-number!=options.number
        if options.isLux
          .room-short-information-block__lux-mark
            +button({
              hiddenBorderButton: true, 
              text: 'Люкс'
              })
      .room-short-information-block__room-price-container  
        span.room-short-information-block__room-price!=options.price
          span.room-short-information-block__currency &#8381 
          span.room-short-information-block__time-interval в сутки
    .room-short-information-block__rate-block 
      +rate-button({
        starsNumber: options.starsNumber, 
        checkedButton: options.checkedButton,
        name: `${Math.random()}`
        }) 
      .room-short-information-block__reviews-number!=options.reviewsNumber
        span.room-short-information-block__reviews-number-text  Отзывов 